.container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.container > img {
  width: 100%;
  border-radius: 30px;
  height: 100%;
  object-fit: cover;
}
.card {
  padding: 100px 10%;
  grid-area: 2 / 1 ;
}
.card > h1 {
  font-size: 50px;
  font-weight: 500;
}
.card > h3 {
  font-weight: 400;
}
.card > .stavka {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1px;
  width: 100%;
}
h2 {
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    
  }
  .card {
    padding: 0px 0 20px 0;
    grid-area: 1 / 1 ;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: auto;
  }

  .card {
    padding: 0px 0 20px 0;
    grid-area: 1 / 1;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
  }
  .card {
    padding: 0px 0 20px 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .card {
    padding: 100px 10%;
    grid-area: 1 / 2;
  }
}

@media only screen and (min-width: 1200px) {
}
