.header_container{
    color: black;
    position: sticky;
}
.category{
    display: flex;
    align-items: center;
}

.icons{
    display: flex;
}
.icons > button {
    border: 1px solid rgb(159, 150, 150);
    border-radius: 40%;
    margin-left: 20px;
    padding: 14px;
}
.icons >.button_ilova{
    border-radius: 18px;
    font-size: 12px;
    background-color: rgb(40, 154, 196);
    padding: 0 20px;
    color: #fff;
    border: none;
}

.icons >.button_ilova :hover{
    background-color: rgb(94, 185, 218);
}

.header-category{
    position: absolute;
    display: flex;
    background-color: #fff;
    margin: 7px 10%;
    width: 80%;
    padding: 50px;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 1px 3px 10px rgb(201, 202, 203) ;
    border: none;
}
.header-category > div > p {
    margin-top: 15px ;
    display: block;
}